---
import MiLayout from "../../layouts/MiLayout.astro";


interface Cat {
    id: string
    url: string
}

const url = "https://api.thecatapi.com/v1/images/"

const apikey = "live_AEGOOQEwID2TGu8s8J9CNgu1Mvyv8vaBrhRrhtLaCbFJF7HJgP9bNuwR8h18tYFQ/"
const {id} = Astro.params

export async function getStaticPaths() {
    const response = await fetch(url+`${id}`,{
        headers : {
            "x-api-key": "live_AEGOOQEwID2TGu8s8J9CNgu1Mvyv8vaBrhRrhtLaCbFJF7HJgP9bNuwR8h18tYFQ"
        }
    });
    const cats: Cat[] = await response.json();
    // Si solo quieres un gato, toma el primero
    return cats.map((cat: Cat) => ({
        params: { id: cat.id.toString() }, props: { cat:cat }
    }));
}

const {cat} = Astro.props    
---


<MiLayout>
    <h1>Cats</h1>
    <h2>Gato numero {cat?.id}</h2>
    <p><img src=`${cat?.url}`alt={`Cat ${cat?.id}`} /></p>
</MiLayout>